.section {
  height: 100vh;
  background-image: url(./../../images/global-network.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  border-radius: 5px;
}

.title {
  font-size: 70px;
  color: var(--orange-color);
  text-shadow: 7px 7px 3px #000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
