.filterLabel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.filterLabelText {
  width: 100%;

  font-weight: 500;
  color: var(--white-color);
}

.filterInput {
  min-height: 26px;
  padding: 5px 10px;
  padding-left: 30px;

  outline: none;
  border: 2px solid transparent;

  transition: border-color var(--transition);
}

.filterInput:focus {
  border-color: var(--orange-color);
}

.icon {
  position: absolute;
  bottom: 12%;
  left: 3%;
}
