.contactList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  list-style: none;
}

.title {
  color: var(--white-color);
}

.contactListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--white-color);
}

.contactListItem::before {
  content: '\2022';
  color: var(--orange-color);
  font-weight: bold;
  display: inline-block;
  width: 16px;
}

.contactListItemBtn {
  min-width: 62px;
  min-height: 20px;
  margin-left: auto;

  font-size: 12px;
  font-weight: 700;
  color: var(--black-color);

  background-color: var(--orange-color);
  border-radius: 5px;
  transition: background-color var(--transition);
}

.contactListItemBtn:hover,
.contactListItemBtn:focus {
  background-color: var(--white-color);
}
